@media all and (min-width: 62.5em) {
  .content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 6.66667% !important; }
  .nav {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 7.5% !important; } }

html {
  font-size: 100%;
  line-height: 1.4;
  font-family: "HKGroteskLight"; }

@media all and (min-width: 800px) {
  html {
    font-size: 112.5%;
    line-height: 1.4; } }

@media all and (min-width: 1000px) {
  html {
    font-size: 143.75%;
    line-height: 1.4; } }

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; }

body#index {
  padding: 0px;
  margin: 0px;
  background-color: #3f61ea;
  color: white; }

body#index .content {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "HKGroteskLight"; }

body#index .content:after {
  content: " ";
  display: block;
  clear: both; }

.button {
  display: inline-block;
  margin-top: 30px;
  border-radius: 5px;
  color: white;
  padding: 8px 20px 8px 20px;
  background-color: #03f2ae;
  text-decoration: none;
  -webkit-transition: background-color 0.8s, color 0.8s;
  /* Safari */ }

.button:hover {
  background-color: white;
  color: #3f61ea;
  text-decoration: none; }

a {
  color: #dcdcd1;
  text-decoration: underline;
  -webkit-transition: color 0.8s; }

a:hover {
  color: white;
  text-decoration: line-through; }

body#week {
  background-color: white;
  color: #3f61ea; }

body#week .placeholder {
  background-color: #3f61ea; }

.header {
  border-bottom: 1px solid;
  margin-bottom: 30px; }

.header p {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 30px; }

@media all and (min-width: 800px) {
  .header p {
    font-size: 1.11111rem; } }

@media all and (min-width: 1000px) {
  .header p {
    font-size: 1rem; } }

.nav {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 0; }

.nav:after {
  content: " ";
  display: block;
  clear: both; }

.nav a {
  color: #03f2ae;
  text-decoration: none;
  font-weight: bold; }

.nav li {
  padding-right: 6%; }

.nav .right {
  float: right;
  padding: 0; }

.nav .sub-menu-parent {
  position: relative; }

/* presentational */
nav a {
  display: block;
  padding: 20px 10px 10px 0px; }

nav a:hover {
  color: white; }

nav ul,
nav ul li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

nav > ul {
  text-align: left; }

nav > ul > li {
  display: inline-block; }

.imm {
  clear: both;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 20px; }

.didasc {
  clear: both;
  font-size: 0.8125rem;
  line-height: 1.4;
  font-style: italic;
  display: block;
  float: right;
  text-align: right;
  margin-top: -30px; }

@media all and (min-width: 800px) {
  .didasc {
    font-size: 0.83333rem; } }

@media all and (min-width: 1000px) {
  .didasc {
    font-size: 0.78261rem; } }

.placeholder {
  background-color: white;
  width: 100%;
  height: 30vh; }

.footer {
  height: 300px; }

.titolo {
  margin-top: 50px; }

.intro {
  margin-top: -15px; }

.barrato {
  text-decoration: line-through; }
