html {
  font-size: 100%;
  line-height: 1.4;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "HKGroteskLight"; }

@media all and (min-width: 800px) {
  html {
    font-size: 112.5%; } }

@media all and (min-width: 1200px) {
  html {
    font-size: 125%; } }

html:after {
  content: " ";
  display: block;
  clear: both; }

body#index {
  background-color: #3f61ea;
  color: white; }

.nav {
  list-style-type: none;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 30px; }

.nav li {
  display: inline-block;
  padding-right: 6%; }

.nav li:last-of-type {
  float: right;
  padding: 0; }

.nav a {
  color: #dcdcd1; }

.nav a:hover {
  color: white; }

.weeks {
  list-style-type: none;
  padding: 0; }

.weeks li {
  padding: 10px;
  margin: 10px;
  margin-left: 0px;
  background-color: white;
  color: #3f61ea; }
