@import "../bower_components/mappy-breakpoints/mappy-breakpoints";
@import "../bower_components/susy/sass/susy";
@import "../bower_components/typi/scss/typi";

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);


$breakpoints: (
  small: 800px,
  large: 1000px
);

$typi: (
  null: (16px, 1.4),
  small: (18px,1.4),
  large: (23px,1.4)
);

$intro-map: (
  null: (16px, 1.4),
  small: 20px,
  large: 23px
  );

$didasc: (
  null: (13px, 1.4),
  small: 15px,
  large: 18px
  );

// fonts //////////////
$light:'HKGroteskLight'; 
$reg:'HKGroteskRegular'; 
$bold:'HKGroteskBold'; 
///////////////////////

// colors //////////////
$primary:#3f61ea; //blue
$primary2:white; //white
$second:#dcdcd1; //light gray
$third:#657980; //dark gray
///////////////////////


// Layout large (more than 1000px)/////////
@include mappy-bp(large) {
	.nav{@include span(10)
		margin-left:span(0)-5%;
		.sub-menu{padding-left:10px;}}
	.header,.footer,.content{
	@include break;
	@include span(10);
	margin-left: span(0)-6%;}
	.chapters{
		@include break;
	.titolo{@include span(2);
		margin-left:span(-1);
		text-align: right;
		margin-top: 0px;
		padding-right:2.5%;
}
}
	.testo{
		@include span(11);
		margin-left:-gutters;
		p{
		margin:0;
		padding:0;}
		margin-bottom: 40px;

	}
	.spias{
		@include span(2);
	}
	}
/////////////////////////

// general //////////////
html {
  @include typi-base();
  @include container(80%);
  font-family:$light;
}
//////////////////////////

// home /////////////////
body#index{
	background-color: $primary;
  	color: $primary2;

.content{
font-family:$light;
p{}


}

}

.button{
	display: inline-block;
	margin-top: 30px;
	border-radius: 5px;
	color: $primary2;
	padding:8px 20px 8px 20px;
	background-color: #03f2ae;
	text-decoration:none;
	-webkit-transition: background-color 0.8s, color 0.8s; /* Safari */

}

.button:hover{
	background-color:white;
	color:$primary;
		text-decoration:none;

}


	///links
	a{color: $second;
	text-decoration: underline;
-webkit-transition:color 0.8s;}

	a:hover{color: $primary2;
	text-decoration: line-through;}
////////////////////////

// week /////////////////
body#week{
	background-color: $primary2;
  	color: $primary;
  	.placeholder{
  		background-color:$primary;
  	}
}

.header{
	border-bottom: 1px solid;
	margin-bottom: 30px;
	p{
	@include typi($intro-map);
	margin-bottom: 30px;
	}
}
// week list homepage ////////////
.weeks{
	list-style-type: none;
	padding:0;
	li{
		padding: 10px 0px 3px 0px;
		margin: 10px;
		margin-left: 0px;
		color: $primary2;
		border-top: 1px solid;

	}
}
////////////////////////


// navigation /////////////
.nav {
	a{
	color: #03f2ae;
	text-decoration:none;
	font-weight:bold;}

	margin-bottom:30px;
	padding:0;
	li{
	padding-right: 6%;}
	.right{
		float:right;
		padding:0;
	}


	//////// sub-menu
    .sub-menu-parent { position: relative; }
  
    .sub-menu {
      visibility: hidden; /* hides sub-menu */
      opacity: 0;
      position: absolute;
      top: 100%;
      left: -65%;
      width: 180%;
      transform: translateZ(0);
      transform: translateY(10%);
      transition: all 0.5s ease 0s, visibility 0s linear 0.5s; /* the last value is the transition-delay for visibility */
    }

    .sub-menu-parent:hover .sub-menu {
      visibility: visible; /* shows sub-menu */
      opacity: 1;
      transform: translateX(0%);
      transition-delay: 0s; /* this removes the transition delay so the menu will be visible while the other styles transition */
    }
}
/* presentational */

nav a {display: block; padding: 20px 10px 10px 0px;}
nav a:hover { color: $primary2; }
nav ul,
nav ul li { list-style-type: none; padding: 0; margin: 0; }

nav > ul { text-align: left; }
nav > ul > li { display: inline-block}
nav > ul > li:first-child { border-left: none; }

.sub-menu {
			font-size: 14px;
	a{
		color: $primary;
		margin-left:10px;
		text-align: center;
		padding:10px;
		border-bottom:1px solid $primary}
	a:hover{color:$primary;
		font-weight:bold;
		text-decoration: line-through;
	}

	.num{text-align:left;
		color:$primary;}

  background: $primary2;
}
//////////////////////////

.imm{
	@include break;
	width:100%;
	margin-top:10px;
	padding-bottom:20px;
}
.didasc{
	@include break;
	@include typi($didasc)
	font-style: italic;
	display:block;
	float:right;
	text-align:right;
	margin-top:-30px;
}

.placeholder{
	background-color:$primary2;
	width:100%;
	height:30vh;
}

.footer{
	height:300px;
}

.titolo{
	margin-top:50px;
}

.intro{
	margin-top:-15px;
}

.barrato{
	text-decoration:line-through;
}

