@import "../bower_components/mappy-breakpoints/mappy-breakpoints";
@import "../bower_components/susy/sass/susy";
@import "../bower_components/typi/scss/typi";

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);


$breakpoints: (
  small: 800px,
  large: 1000px
);

$typi: (
  null: (16px, 1.4),
  small: 18px,
  large: 20px
);

// fonts //////////////
$light:'HKGroteskLight'; 
$reg:'HKGroteskRegular'; 
$bold:'HKGroteskBold'; 
///////////////////////

// colors //////////////
$primary:#3f61ea; //blue
$primary2:white; //white
$second:#dcdcd1; //light gray
$third:#657980; //dark gray
///////////////////////


// Layout large (more than 1000px)/////////
@include mappy-bp(large) {
	.nav{@include span(10)
		margin-left:span(1);}
	.header,.footer,.content{
	@include break;
	@include span(10);
	margin-left: span(1);}
	.chapters{
		@include break;
	.titolo{@include span(2);
		margin-left:span(-1);
		text-align: right;
		margin-top: 0px;
		padding-right:2.5%;
}
	.testo{
		@include span(10 wide);
		margin-left:-gutters;
		p{margin:0;
		padding:0;}
		margin-bottom: 40px;}
	.spias{
		@include span(2);
	}
	}}
/////////////////////////

// general //////////////
html {
  @include typi-base();
  @include container(80%);
  font-family:$light;
}
//////////////////////////

// home /////////////////
body#index{
	background-color: $primary;
  	color: $primary2;
}
	///links
	a{color: $primary2;
	text-decoration: none;}

	a:visited{color: $second;
	text-decoration: line-through;
	}

	a:hover{color: $primary2;
	text-decoration: underline;}
////////////////////////

// week /////////////////
body#week{
	background-color: $primary2;
  	color: $primary;
  	a{
  		color:$primary;
  	}
  	.placeholder{
  		background-color:$primary;
  	}
}
////////////////////////


// navigation /////////////
.nav{
	list-style-type: none;
	margin-top: 40px;
	margin-bottom:30px;
	padding:0;
	li{
	display: inline-block;
	padding-right: 6%;}
	li:last-of-type{
		float:right;
		padding:0;
	}
	a{
		color:$second;
	}
	a:hover{
		color:$primary2;
	}
}
//////////////////////////

// week list homepage ////////////
.weeks{
	list-style-type: none;
	padding:0;
	li{
		padding: 10px;
		margin: 10px;
		margin-left: 0px;
		color: $primary2;
	}
}
/////////////////////////////////

.placeholder{
	background-color:$primary2;
	width:100%;
	height:30vh;
}

.footer{
	height:300px;
}