head
		title Volt
		link(rel='stylesheet', href='css/style.css')
		link(rel='stylesheet', media="screen", href="https://fontlibrary.org/face/hk-grotesk", type="text/css")
		link(rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8")
		script(src="http://code.jquery.com/jquery-latest.js" type="text/javascript")
		script(src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.min.js")
		script(type="text/javascript" src="js/main.js")
		script(type="text/javascript" src="js/paper-full.min.js")
		script(type="text/paperscript" src="js/script.js" canvas="myCanvas")