nav.nav
	ul
		li
			a(href="index.html") Home
		li.sub-menu-parent 
			a(href="#") Weeks
			ul.sub-menu
				li 
					a.voce(href="#") Principles and Project Management
				li 
					a.voce(href="#") Principles and Project Management
				li 
					a.voce(href="#") Principles and Project Management
				li 
					a.voce(href="#") Principles and Project Management
				li 
					a.voce(href="#") Principles and Project Management
				li 
					a.voce(href="#") Principles and Project Management
				li 
					a.voce(href="#") Principles and Project Management
		li.right 
			a(href="finalprj.html") Final prj