nav.nav
	ul
		li
			a(href="index.html") Home
		li.sub-menu-parent 
			a(href="#") Weeks
			ul.sub-menu
				li 
					a.voce(href="week1.html") 1. Principles and Project Management
				li 
					a.voce(href="week2.html") 2. CAD, Computer-Aided Design
				li 
					a.voce(href="week3.html") 3. Computer-Controlled Cutting
				li 
					a.voce(href="week4.html") 4. Electronic Production
				li 
					a.voce(href="week5.html") 5.  3d Scanning and printing
				li 
					a.voce(href="week6.html") 6. Electronic Design
				li 
					a.voce(href="week7.html") 7. Computer-Controlled Machining
				li 
					a.voce(href="week8.html") 8. Embedded Programming
				li 
					a.voce(href="week9.html") 9–10. Mechanism and machine Design
				li 
					a.voce(href="week11.html") 11. Input Devices
				li 
					a.voce(href="week12.html") 12. Molding and Casting
				li 
					a.voce(href="week13.html") 13. Output devices
				li 
					a.voce(href="week14.html") 14. Composites
				li 
					a.voce(href="week15.html") 15. Networking and communications
				li 
					a.voce(href="week16.html") 16. Interface and application programming
				li 
					a.voce(href="week17.html") 17. Applications and implications
				li 
					a.voce(href="week18.html") 18. Invention, intellectual property, and income
		li.right 
			a(href="finalprj.html") Final prj