doctype html
html(lang="en")
	include _head.pug
	body#index
		include _nav.pug
		.content
			h1.work About me
			p I was born in Palermo in 1991 and after my diploma in Scientific studies I moved to Milan for studying Communication design at Politecnico. I've been always interested in the intersection between design and technology, and during my last year at Politecnico of Milan I started to explore the interaction design field. I got my bachelor degree with a thesis called "Gammy Builder: an interactive prototype to enhance learning processes".</br></br>Currently I'm collaborating with <a href="http://dotodotdot.it" target="_blank">Dotdotdot</a> a multidisciplinary studio in Milan focused on interaction design projects, and its partner fablab <a href="http://opendotlab.it" target="_blank">Opendot</a>.

		include _footer.pug