doctype html
html(lang="en")
	include _head.pug
	body#white
		include _nav.pug
		.content
			.article
				.titolo
					h2 Future food district <br>Visual storytelling of markets		
				.data
					h4 2015
				.testoart
					p 
					|Illustrations for the Future food district pavillion of Coop at the Expo 2015. Dotdotdot, that curated part of the design and the technology assets inside the pavillion, wanted a fast solution for the entrance of the future food district and asked us to illustrate the evolution of markets through 6 milestones. We delivered the work in one week, working aside Lucio Lapietra that has animated the scenes.<br><br>
					|Illustration made in collaboration with: Lorenzo Tempesti and Cecilia Negri
				iframe(src="https://player.vimeo.com/video/126916473?color=ffffff&byline=0" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="margin-bottom:3%;")

				img.portImm(src="media/coop_/1_baratto.png")
				img.portImm(src="media/coop_/2_banchetto.png")
				img.portImm(src="media/coop_/3_mercato.png")
				img.portImm(src="media/coop_/4_galleria.png" style="padding-top:30px;padding-bottom:30px;background-color:black")
				img.portImm(src="media/coop_/5_super.png")
				img.portImm(src="media/coop_/6_ffd.png")
		include _footer.pug
