doctype html
html(lang="en")
	include _head.pug
	body#white
		include _nav.pug
		.content
			.article
				.titolo
					h2 Future food district <br>Visual storytelling of markets		
				.data
					h4 2015
				.testoart
					p 
					|Realizzazione di scene illustrate da inserire in un’animazione che accompagnava i visitatori all’ingresso del padiglione della Coop ad Expo 2015. Il brief prevedeva delle illustrazioni che rappresentassero i punti chiave di evoluzione dei luoghi di scambio di merci: dal baratto del periodo neolitico, il banchetto d’acquisto medievale, per arrivare al progetto del FFD presentato dalla Coop.
				img.portImm(src="media/coop_/1_baratto.png")
				img.portImm(src="media/coop_/2_banchetto.png")
				img.portImm(src="media/coop_/3_mercato.png")
				img.portImm(src="media/coop_/4_galleria.png" style="padding-top:30px;padding-bottom:30px;background-color:black")
				img.portImm(src="media/coop_/5_super.png")
				img.portImm(src="media/coop_/6_ffd.png")
		include _footer.pug
