doctype html
html(lang="en")
	include _head.pug
	body#white
		include _nav.pug
		.content
			.article
				.titolo
					h2 Work in progress		
				.data
					h4 2014
				.testoart
					p ////
				img.portImm(src="")
				img.portImm(src="")
				img.portImm(src="")
				img.portImm(src="")
				img.portImm(src="")
				
		include _footer.pug