doctype html
html(lang="en")
	include _head.pug
	body#white
		include _nav.pug
		.content
			.article
				.titolo
					h2 Gammy Builder <br>An avatars builder for children		
				.data
					h4 2014
				.testoart
					p This is my bachelor degree project: an interactive physical board that allows to create digital avatars. After building a brand identity for a fictional primary school based on a gamification system (the <a href="gameoriented.html">Game Oriented Institute</a>), with three collegues, we designed a learning renforcement system that visualize the peculiarity of each kid through avatars. We decided to fabricate an interactive board connected to a monitor that allows children to play with a physical environment while they are customizing their own digital alter-ego. The board has been fabricated with a lasercutting machine (the design is based on primo's blueprints) and the software developed with 4v from scratch. The circuit that allows the software to recognize each piece is a simple voltage divider made with arduino.
					p In collaboration with: Lorenzo Tempesti, Vittorio Bonfatti and Leonardo Grassi. <br>Special thanks to <a href="https://matlo.me/" target="_blank">Matteo Loglio</a> that helped us with a lot of advices while he was developing <a href="https://vimeo.com/50570097" target="_blank">Primo</a>.
				img.portImm(src="media/gammy_/board_schema.jpg")
				img.portImm(src="media/gammy_/board.jpg" alt="board")
				img.portImm(src="media/gammy_/blocks.jpg")
				img.portImm(src="media/gammy_/circuito_pezzo.jpg")
				img.portImm(src="media/gammy_/circuit.jpg")
				p The video of the first prototype, video by Vittorio Bonfatti
				video.portImm(width="100%" controls)
					source(src="media/gammy_/video.mp4" type="video/mp4")

		include _footer.pug