doctype html
html(lang="en")
	include _head.pug
	body#index
		canvas(id="myCanvas" resize)
		include _nav.pug
		.content
			h1 Hi, I'm Ernesto Voltaggio
			p I'm a communication designer, screenprinter and apprentice interaction designer. I like to work with both analog and digital media and experiment with different tools. I developeded my skills working on brand design, user experience, user interface and editorial design projects. <br><br>I've practiced screenprinting tecnique in <a href="www.sacremstudio.com" target="_blank">Sacrèm</a>, a visual communication laboratory in Milan and lately I've attended the <a href="http://fabacademy.org/about/diploma/">Fab Academy 2016</a> at <a href="www.opendotlab.com" target="_blank">Opendot</a> where I've practiced digital fabrication processess and learnt how to prototype embedded systems  – <a target="_blank" href="http://archive.fabacademy.org/archives/2016/opendot/students/191/index.html">Fab Academy portfolio</a>.
			
			<a class="button" id="daje" href="mailto:ernesto.volt@me.com?Subject=Hello" target="_top">Contact me</a>
