doctype html
html(lang="en")
	include _head.pug
	body#index
		include _nav.pug
		.content
			h1 Hi, I'm Ernesto Voltaggio
			p I'm a graphic designer, newbie screenprinter and wannabe interaction designer."The medium is the message" — McLuhan said — and I want explore the possibilities offered by media and tools that are not so frequently used in visual communication fields, this is why i'm attending the fab academy at Opendot.
			h3 Weekly assignments
			ul.weeks
				li 
					a(href="week1.html") <b>1</b> — Principles and Project Management
				li 
					a(href="week2.html") <b>2</b> — CAD, Computer-Aided Design
				li 
					a(href="week2.html") <b>3 </b>— Computer-Controlled Cutting
				li 
					a(href="week2.html") <b>4 </b>— Electronic Production
				li 
					a(href="week2.html") <b>5 </b>— 3d Scanning and printing
				li
					a(href="week2.html") <b>6 </b>— Electronic Design
				li 
					a(href="week2.html") <b>7 </b>— Computer-Controlled Machining
				li 
					a(href="week2.html") <b>8 </b>— Embedded Programming
				li 
					a(href="week2.html") <b>9/10 </b>— Mechanism and machine Design
				li 
					a(href="week2.html") <b>11</b> — Input Devices
				li 	
					a(href="week2.html") <b>12</b> — Molding and Casting
				li 
					a(href="week2.html") <b>13</b> — Output devices 