doctype html
html(lang="en")
	include _head.pug
	body#white
		include _nav.pug
		.content
			.article
				.titolo
					h2 Mimoto <br> electric scooter sharing		
				.data
					h4 2015
				.testoart
					p stuff
				img.portImm(src="media/mimoto_/logo.png")
				img.portImm(src="media/mimoto_/logo_mappa.jpg" alt="board")
				img.portImm(src="media/mimoto_/stationary.jpg")
				img.portImm(src="media/mimoto_/office.jpg")

		include _footer.pug