doctype html
html(lang="en")
	include _head.pug
	body#index
		include _nav.pug
		.content
			h1.work Works <br>[work in progress]
			.portfolioFilter
				a(href='#' data-filter="*" class=".current") show all
				a(href='#' data-filter=".graphic") Graphic design
				a(href='#' data-filter=".interaction") Interaction design
				a(href='#' data-filter=".fabrication") Digital Fabrication

			.portfolioContainer
				.masonry__column
				.masonry__gutter
				.grid-item.interaction(data-category="interaction")
					a(href="tesla.html")
						.overlay(data-content="Tesla magazine")
							img.immport(src="media/tesla.png")
				.grid-item.graphic(data-category="graphic")
					a(href="#")
						.overlay(data-content="Future Food District")
							img.immport(src="media/coop.jpg")
				.grid-item.interaction(data-category="interaction")
					a(href="tesla.html")
						img.immport(src="media/tesla.png")
				.grid-item.interaction(data-category="interaction")
					a(href="tesla.html")
						img.immport(src="media/tesla.png")
				.grid-item.interaction(data-category="interaction")
					a(href="tesla.html")
						img.immport(src="media/tesla.png")
			.footer