doctype html
html(lang="en")
	include _head.pug
	body#index
		include _nav.pug
		.content
			.article
				.titolo
					h2 Tesla <br>A fictional scientific magazine		
				.data
					h4 2012
				.testoart
					p 
					|Identità visiva e immagine coordinata di un magazine di approfondimento scientifico e tecnologico svolto durante un laboratorio del Politecnico di Milano.
					|Il progetto è partito dalla ricerca di un personaggio che incarnasse i valori del brand: progresso, conoscenza, fascino, ambientalismo, visione del futuro.
					|La scelta è ricaduta su Tesla, uno scienziato e inventore degli inizi del Ventesimo secolo; un visionario che credeva che il progresso dell’uomo possa avvenire grazie alla tecnologia.
				img.portImm(src="media/tesla_/cover.png")
				img.portImm(src="media/tesla_/visual_research.png")
				img.portImm(src="media/tesla_/basic_elements.png")
				img.portImm(src="media/tesla_/magazine.jpg")
				img.portImm(src="media/tesla_/stationary.png")
