doctype html
html(lang="en")
	include _head.pug
	body#white
		include _nav.pug
		.content
			.article
				.titolo
					h2 Tesla <br>A fictional scientific magazine		
				.data
					h4 2012
				.testoart
					p 
					|Visual identity and corporate identity for a fictional scientific magazine, designed during a laboratory in Politecnico of Milan.
					|We had to pick a character and build a brand around his name and the collective image of him. I choose Tesla a brilliant scientist who believed that human progress can be achieved through science and technology. My visual references were the beauty of math and generative design style.
				img.portImm(src="media/tesla_/cover.png")
				img.portImm(src="media/tesla_/basic_elements.png")
				img.portImm(src="media/tesla_/magazine.jpg")
				img.portImm(src="media/tesla_/stationary.png")
		include _footer.pug
		