extends ./_tweek.pug

block Title
	h1 Week 1 — Principles and Project Management

block chapter
	+paragraph('Website')
		p For the week 1 assignment I built the simple website where you are now. It’s just the minimal skeleton of what i want to achieve, i will work on it cause i want to improve my coding skills. It has been made - almost - from scratch using html, css and bootstrap. Cause i had some previous knowledge of this languages i made a simple commented template (still working on it) for the guys here in the fablab and soon for the world.
	+paragraph('Git')
		p During this week I discovered the wonderful world of versioning softwares (in particular of GIT).We learned how to set everything and the basic terminal commands:
		code cd …
		|—> to access the local folder
		br
		code git pull
		|—> to get up to date the content in your local folder with the remote one
		br
		code git add .
		|—> to prepare the commit
		br
		code git commit -m “…”
		|—> to commit the changes and describing it
		br
		code git push 
		|—> to upload the content from local to remote
	+paragraph('Final project','For the week 1 assignment I built the simple website where you are now. It’s just the minimal skeleton of what i want to achieve, i will work on it cause i want to improve my coding skills. It has been made - almost - from scratch using html, css and bootstrap. Cause i had some previous knowledge of this languages i made a simple commented template (still working on it) for the guys here in the fablab and soon for the world.')
